@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

$colorWhite:#FFFFFF;
$colorBlack:#191C21;
$colorPrimary:#195962;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@mixin mediaQuery($width, $property, $value) {
    @media only screen and (max-width:$width) {
        #{$property}: $value;
    }
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;

    @include mediaQuery(4000px, font-size, 110%);
    @include mediaQuery(1800px, font-size, 70%);
    @include mediaQuery(1024px, font-size, 60%);
    @include mediaQuery(768px, font-size, 50%);
    @include mediaQuery(426px, font-size, 35%);
    @include mediaQuery(375px, font-size, 30%);
    @include mediaQuery(350px, font-size, 25%);
    @include mediaQuery(300px, font-size, 20%);

}

.container {
    width: 100vw;
    height: 100vh;

    @extend .flex-column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header {
    width: 100%;
    @extend .flex-row;
    justify-content: flex-start;
    background: $colorBlack;

    &-logo {
        &--text {
            padding: 1rem 2rem;
            font-size: 4rem;
            color: $colorWhite;
        }
    }
}

.footer {
    padding: 1rem 0;
    width: 100%;
    background: $colorBlack;

    &-options {
        @extend .flex-row;
        justify-content: space-between;
        color: $colorWhite;

        & * {
            font-size: 1.5rem;
            margin: 0 .5rem;
        }

        & a {
            font-weight: 300;
            font-size: 2.2rem;
        }
    }
}

.main {
    flex-grow: 1;
    width: 100%;
    background-color: $colorBlack;

    @extend .flex-row;
    flex-direction: r;
    justify-content: center;

    @include mediaQuery(426px, flex-direction, column-reverse);

    &-hangman,
    &-game {
        width: 50%;
        height: 100%;
        @extend .flex-column;
        justify-content: flex-start;
    }

    &-hangman {

        &--svg {
            width: 100%;
            height: 100%;
            @extend .flex-row;
            justify-content: center;
        }

        & svg {
            width: 80%;
            height: 80%;

            & * {
                fill: $colorWhite;
            }

            & #head,
            #eyes_cross,
            #hands,
            #legs,
            #spine,
            #eyes_circle {
                visibility: hidden;
            }

            & #background_rect {
                fill: $colorBlack;
            }

            & #eyes_circle,
            & #eyes_cross {

                & * {
                    visibility: hidden;
                }

                &.show * {
                    visibility: visible;
                    fill: $colorBlack;
                }
            }


            & #background_rect,
            #floor_full,
            #bar_left,
            #bar_top,
            #rope,
            #floor_right,
            #floor_left {
                visibility: visible;
            }

            & #hands_left,
            & #legs_left {

                &.dead {
                    transform: rotate(25deg);
                    transform-origin: 50% 41%;
                }
            }

            & #legs_left.dead {
                transform-origin: 50% 54%;
            }

            & #hands_right,
            & #legs_right {

                &.dead {
                    transform: rotate(-25deg);
                    transform-origin: 50% 41%;
                }
            }

            & #legs_right.dead {
                transform-origin: 50% 55%;
            }

        }
    }

    &-game {
        padding: 1rem 4rem;

        &--word {
            margin-top: 15vh;
            margin-bottom: 5vh;
            width: 100%;
            height: 7rem;
            padding: 2rem 1rem;
            border-radius: .5rem;
            background: $colorWhite;

            @extend .flex-row;
            justify-content: space-between;

            & .letter {
                flex: 1 1 0;
                margin: 0 .2rem;
                font-size: 3rem;
                color: $colorBlack;
                text-align: center;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                visibility: hidden;

                &.show {
                    visibility: visible;
                }

                &.hidden::after {
                    content: "";
                    visibility: visible;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: .3rem;
                    background-color: $colorBlack;
                }
            }
        }

        &--meaning {
            width: 100%;
            padding: 0 .3rem;
            border-radius: .5rem;
            margin-bottom: 5vh;
            color: $colorWhite;
            font-size: 1.5rem;
            @extend .flex-row;
            justify-content: center;

        }

        &--enter {
            margin-bottom: 7vh;

            form {
                @extend .flex-row;

                & * {
                    padding: 1rem;
                    border-radius: .5rem;

                    &,
                    &:active,
                    &:focus,
                    &:hover {
                        border: 0;
                    }
                }

                & input {
                    font-size: 3rem;
                    text-align: center;
                    margin-right: 3rem;
                    text-transform: uppercase;
                    font-weight: 500;
                }

                & button {
                    font-size: 2rem;
                    border-radius: .5rem;
                    background-color: $colorPrimary;
                    color: $colorWhite;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }

        &--tries {
            width: 100%;
            height: 5vh;
            background: $colorPrimary;
            margin-bottom: 5vh;
            padding: 1rem;
            border-radius: .5rem;

            @extend .flex-row;
            justify-content: flex-start;

            & span {
                color: $colorWhite;
                font-size: 2.4rem;
                text-transform: uppercase;
            }
        }

        &--start {
            font-size: 3rem;
            border-radius: .5rem;
            background-color: $colorWhite;
            color: $colorPrimary;
            padding: 1rem;
            border-radius: .5rem;
            text-transform: capitalize;

            &,
            &:active,
            &:focus,
            &:hover {
                border: 0;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

}